#productos {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  margin-bottom: 2%;
}

.card {
  padding: 2%;
  margin: 4%;
  height: 250px;
}

.card:hover {
  border-color: #000;
}

.contenedorFoto {
  margin: auto;
  width: 80%;
  height: 50%;
}


.foto {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

#info {

  width: 100%;
  font-size: 12px;
  text-align: center;
}

#info label {
  float: left;
  width: 100%;
}

#botonera {
  position: relative;
  margin: auto;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  height: 200px;
  margin-top: 5%;
}

.boton {
  margin: 1%;
}

#botoneraFunciones {
  display: grid;
  margin-left: 25%;
  width: 50%;
  grid-template-columns: repeat(4, 1fr);
  text-rendering: geometricPrecision;
}

#botoneraFunciones button {
  margin: 1%;
}

#borrarBtn {
  grid-column: 3;
}

.boton {
  margin: 2%;
}

.boton:hover {
  letter-spacing: 0.3rem;
  color: #000;
  /* box-shadow: 0 0 35px var(--clr);  */
  animation: box 3s infinite;
}

#aceptarBtn {
  grid-column: 2;
}

#mostrarSaldo,
#mostrarProducto {
  margin-left: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
}

.modal-content h2 {
  text-align: center;
}

#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#botonModal {
  grid-column: 1;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.mostrarSaldoModal {
  text-align: center;
  font-family: arial;
  font-size: 14px;
}

#mostrarCambio {
  display: none;
}

#cambios {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 5%;
  width: 100%;
}

.cambio {
  grid-column: auto;
  width: 100%;
}

.contenedorFotoCambio {
  width: 100%;
  height: 70%;
}

.contenedorFotoCambio img {
  width: 100%;
  height: 100%;
}

#adminControl {
  display: grid;
  margin-top: 1%;
  width: 50%;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 25%;
}

#adminBotones {
  grid-column: 1;
  width: 100%;
  visibility: hidden;
}

#adminBotones button {
  margin-top: 1%;
}

#botonesInsertarProducto {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#listaProductos {
  grid-column: 2;
  display: none;
}

#listaMonedas {
  display: none;
  grid-column: 2;
  text-align: center;
}

#divGanancias {
  grid-column: 2;

}

#divGanancias *{
  margin-bottom:2%;
}

#divGanancias button{
  margin-right:2%;
}

#adminBotones button {
  width: 80%;
}

#inputs {
  grid-column: 2;
  width: 100%;
  display: none;
  object-fit: scale-down;
}

#inputs * {
  margin: 2%;
}

#inputCantidad {
  width: 100%;
}

#inputPosicion {
  width: 100%;
}

#inputValor {
  width: 100%;
}

#formNuevoProducto {
  display: none;
}

#formNuevoProducto * {
  margin: 1%;
}

#tablaVentas {
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 1%;
  border-style: solid;
  border-width: 1px;
}