<router-outlet></router-outlet>
<div id="productos">

  <div class="producto" class="card" *ngFor="let producto of productos">
    <div class="contenedorFoto"><img draggable="false" class="foto" src="../assets/img/{{producto.foto}}"
        title="{{producto.nombre}}" />
    </div>
    <div id="info">

      <label clas="card-title">{{producto.nombre}}</label>
      <label>{{producto.precioVenta}}€ </label>
      <label>Posicion:{{producto.posicion}}</label>

    </div>
  </div>
</div>

<div id="botonera">

  <button *ngFor="let string of botones" class="btn btn-dark rounded-1" (click)="escribir($event)" type="button"
    style="margin:1%">{{string}}</button>

</div>

<div id="botoneraFunciones">

  <button id="botonModal" class="btn btn-outline-secondary" type="button" (click)="modal()">Insertar monedas</button>
  <button id="aceptarBtn" class="btn btn-outline-secondary" type="button" (click)="compra()">Aceptar</button>
  <button id="borrarBtn" class="btn btn-outline-secondary" type="button" (click)="borrar()">Borrar</button>
  <button id="borrarTodoBtn" class="btn btn-outline-secondary" type="button" (click)="borrarTodo()">Borrar todo</button>

</div>

<div id="mostrarSaldo"><span>Saldo:</span>{{saldo| number}}</div>
<div id="mostrarProducto"><span>Producto:{{productoId}}</span></div>

<div id="adminControl">

  <div id="adminBotones">

    <button type="button" class="btn btn-outline-secondary" (click)="insertarProductos()">Inserción de
      productos</button>
    <button type="button" class="btn btn-outline-secondary" (click)="insertarMonedas()">Inserción de monedas</button>
    <button type="button" class="btn btn-outline-secondary" (click)="listarProductos()">Ver listado de
      productos-cantidad</button>
    <button type="button" class="btn btn-outline-secondary" (click)="listarMonedas()">Ver listado de
      monedas-cantidad</button>
    <button id="btnGanancias" class="btn btn-outline-secondary" (click)="getGanancias()">Ver ganancias</button>

  </div>

  <div id="inputs">

    <label>Cantidad</label>

    <input [(ngModel)]="cantidadInsertar" id="inputCantidad" type="number" />

    <label>Posicion/Valor</label>

    <select id="inputPosicion" [(ngModel)]="posicionAgregar">

      <option value="">selecciona un producto</option>
      <option *ngFor="let producto of productos">{{producto.posicion}}</option>

    </select>

    <select id="inputValor" [(ngModel)]="valorAgregar">

      <option value="0">selecciona una moneda</option>
      <option *ngFor="let moneda of listaMonedas">{{moneda.valor}}</option>

    </select>

    <button id="confirmar" type="button" (click)="confirmarInsertar()">Confirmar</button>

  </div>

  <div id="listaProductos">

    <table>

      <tr>

        <th>nombre</th>
        <th>cantidad</th>

      </tr>

      <tr *ngFor="let producto of productos">

        <td>{{producto.nombre}}</td>
        <td>{{producto.cantidad}}</td>

      </tr>

    </table>

  </div>

  <div id="listaMonedas">

    <table>

      <tr>

        <th>Valor</th>
        <th>Cantidad</th>

      </tr>

      <tr *ngFor="let moneda of listaMonedas">

        <td>{{moneda.valor}}</td>
        <td>{{moneda.cantidad}}</td>

      </tr>

    </table>

  </div>

  <div id="divGanancias" *ngIf="mostrarGanancias==true">

    {{this.ganancias|number}}€

  </div>

</div>
<div id="cambios" *ngIf="mostrarCambio==true">
  <span>Cambio: </span>
  <div class="cambio" *ngFor="let moneda of cambios">
    <div class="contenedorFotoCambio"><img draggable="false" class="foto" src="../assets/img/monedas/{{moneda.foto}}"
        title="{{moneda.valor}}" /></div>
  </div>
  <!-- <button (click)="retirarCambio()">Retirar Cambio</button> -->
</div>

<div id="modalMonedas" class="modal" style="display: none;">
  <app-monedas (newItemEvent)="addItem($event)" (monedasInsertadas)="addItem2($event)"
    (listarMonedas)="addItem3($event)" [reiniciarCompra]="reiniciarCompra"
    [reiniciarListado]="reiniciarListado"></app-monedas>
</div>