#productos {
  width: 50%;
}

.producto {
  float: left;
  width: 19%;
  height: 180px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-size: 12px;
}

.contenedorFoto {
  width: 100%;
  height: 70%;

}

.foto {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

#botonera {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  border-radius: 0;
  height: 200px;
}
 #botoneraFunciones{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(20px, auto);
  border-radius: 0;
  height: 40px;
} 

#uno {
  grid-column: 1 / 1;
  grid-row: 1/2;

}

#dos {
  grid-column: 2 / 2;
  grid-row: 1/2;
}

#tres {
  grid-column: 3 / 3;
  grid-row: 1/2;
}

#cuatro {
  grid-column: 4 / 4;
  grid-row: 1/2;
}

#cinco {
  grid-column: 5 / 5;
  grid-row: 1/2;
}

#a {
  grid-column: 1 / 1;
  grid-row: 2/3;
}

#b {
  grid-column: 2 / 2;
  grid-row: 2/3;
}

#c {
  grid-column: 3 / 3;
  grid-row: 2/3;
}

#d {
  grid-column: 4 / 4;
  grid-row: 2/3;
}

#e {
  grid-column: 5 / 5;
  grid-row: 2/3;
}
#mostrarSaldo{
  width: auto;
  height: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height:100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
}
.modal-content h2{
  text-align: center;
}

/* The Close Button */
#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#myBtn{
  grid-column: 1/6;
  grid-row: 1/2;
}

#cambio{
  grid-column: 1/6;
  grid-row: 2/2;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;}

.mostrarSaldoModal{
  text-align: center;
  font-family: arial;
  font-size: 14px;
}
